* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
}

section {
  color: yellow;
  height: 100vh;
}

#section-1 {
  background-color: red;
  font-family: 'Rubik Mono One', sans-serif;
}

#section-2 {
  background-color: green;
}

#section-3 {
  background-color: yellow;
  color: green;
}
